form(action='/', method='POST', autocomplete='off')
	fieldset
		input.text(type='text', name='name', required)
		label.text(for='name') Name
		.underline
	
	fieldset.switch
		label.switch
			input.switch(type='checkbox', checked)
			span.slider
		p.switchLabel I'll be there on September 14!

	fieldset
		input.text(type='text', name='message', required)
		label.text(for='message') Anything we should note?
		.underline

	fieldset
		input.submit(type='button', value='Submit')