form(action='/rsvp', method='POST', autocomplete='off')

	fieldset
		input.text(type='text', name='name', required)
		label.text(for='name') Name
		.underline
	
	fieldset
		label.switch
			input.switch(type='checkbox')
			span.slider
		p.switchLabel Will you be joining us on September 14?

	fieldset
		input.text(type='text', name='message', required)
		label.text(for='message') Anything we should note?
		.underline

	fieldset
		input.submit(type='button', value='Submit')