title Abby &amp; Connor are getting married.
link(rel='stylesheet', href='/stylesheets/styles.css')
meta(charset='utf-8')
meta(name='description', content='Join us in Chicago for an intimate wedding with our closest friends and family.')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(name='author', content='Connor Mason')
link(rel='apple-touch-icon', href='images/squirrel.png')
link(rel='icon', href='images/squirrel.png')
link(rel='shortcut icon', href='images/squirrel.png')
meta(property='og:title', content='Abby and Connor are getting married.')
meta(property='og:url', content='https://abbyandconnor.wedding')
meta(property='og:image', content='')
meta(property='og:site_name', content='Connote')
meta(property='og:description', content='Join us in Chicago for an intimate wedding with our closest friends and family.')
meta(name='twitter:card', content='summary')
meta(name='twitter:site', content='@conmas')
meta(name='twitter:domain', content='abbyandconnor.wedding')
meta(name='twitter:title', content='Abby and Connor are getting married.')
meta(name='twitter:description', content='Join us in Chicago for an intimate wedding with our closest friends and family.')
meta(name='twitter:image', content='')

script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js')
script(src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.js')
link(href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.css', rel='stylesheet')