extends layout

block left
	+photostatic('background-image:url(images/takeshita.jpeg)','Takeshita Street, Tokyo')
	
block right
	+breadcrumbs
	h1 About this site.
	p Rather than basing our wedding website on a prebuilt Squarespace theme or some template from the Knot, Abby and Connor designed and developed this website from scratch using Connor&#8217;s newfangled web development skills.
	p Connor&#8217;s still new to web development, so if anything doesn&#8217;t work correctly or seems broken, feel free to 
		a(href='mailto:cnnr@icloud.com?subject=Something%20seems%20broken%20on%20your%20wedding%20website&body=Describe%20what\'s%20happening%20here.%20Please%20make%20sure%20to%20include%20the%20browser%20and%20device%20you\'re%20using.%20Thanks%20for%20the%20help!', target='_blank') let him know!
	h2 What&#8217;s Taxi Buddies?
	p When we first started dating, we shared taxis home together from work or events with friends. Since we lived in the same neighborhood, we figured this wouldn&#8217;t arouse suspicion with our coworkers, who didn&#8217;t know we were seeing each other at the time. Abby&#8217;s mom referred to Connor as her &#8220;taxi buddy,&#8221; and the name stuck.
	
	h2 What&#8217;s with the squirrel?
	p We just like that emoji a lot. Technically it&#8217;s a chipmunk, but we choose to ignore that.
	
	p 
		| #[strong Designed by Abby and Connor in Chicago]. <br>Built with 
		a(href='https://nodejs.org/en/', target='_blank') Node.js
		| , 
		a(href='https://expressjs.com/', target='_blank') Express
		| , and 
		a(href='https://pugjs.org/api/getting-started.html', target='_blank') Pug
		| . Written in 
		a(href='https://www.panic.com/coda/', target='_blank') Coda 
		| for macOS and iOS. Source code available on 
		a(href='https://github.com/conmas/abbyandconnor-wedding/', target='_blank') GitHub
		| . Feel free to contribute!
