extends layout

block left
	.temp

	//.map(id='map')

block right
	a.breadcrumbs(href='/') &lsaquo; Back
	h1 This page is coming soon.
	p Check back soon. We're still building this website, and we'll add more details as the day approaches.

	//block right
		a.breadcrumbs(href='/') &lsaquo; Back
		h1 Details about the big&nbsp;day(s).
		p This page is under construction. Overall description will go here. This page is under construction. Overall description will go here. This page is under construction. Overall description will go here.
		span.left-arrow left
		span.right-arrow right
		.event-container
			.event
				h3 Reception in Omaha
				a.add-to-calendar(href='/') Add to Calendar
				p This page is under construction. Omaha event description will go here. This page is under construction. Omaha event description will go here.
			.event
				h3 Reception in Cleveland
				a.add-to-calendar(href='/') Add to Calendar
				p This page is under construction. Cleveland event description will go here. This page is under construction. Cleveland event description will go here.
			.event
				h3 Ceremony in Chicago
				a.add-to-calendar(href='/') Add to Calendar
				p This page is under construction. Chicago event description will go here. This page is under construction. Chicago event description will go here.

		script.
			$(document).ready(function(){
				var animSpeed = 200;
				$('.right-arrow').on("click", function() {
					if(parseInt($(".event-container").css("marginLeft")) == -200){ return;}
					$('.event-container').animate({marginLeft : "-=500"}, animSpeed);     
				});
				$('.left-arrow').on("click", function() {
					if(parseInt($(".event-container").css("marginLeft")) == 0){ return;}
					$('.event-container').animate({marginLeft : "+=500"}, animSpeed);
				});
			});