extends layout

block left
	+photo('background-image:url(images/kaiser-tiger.jpeg)','Kaiser Tiger')
	+photo('background-image:url(images/ace-hotel.jpeg)','Ace Hotel, Chicago')
	+photo('background-image:url(images/little-goat.jpeg)','Little Goat Kitchen')

block right
	+breadcrumbs
	h1 Details about the big&nbsp;day(s).
	p We can’t wait for you to join us! Below is all the information you should need. We’ll add links to the hotel room block when they’re available, so check back soon!
	
	table
		+venue('The Ace Hotel','stay','https://apple.co/2XuUCrp','Friday & Saturday','311 N Morgan St')
		+venue('Kaiser Tiger','welcome reception','https://apple.co/2QY7XWI','September 13 @ 7pm','1415 W Randolph St')
		+venue('Little Goat Kitchen','celebrate','https://apple.co/2wI1rKi','September 14 @ 6pm','820 W Randolph St')