extends layout

block left
	.photo(style='background-image:url(images/bucktown.jpeg)', alt='Chicago, the night we got engaged')

block right
	h1=error.status
	h2=message
	p. 
		Hmm, something went wrong. You should probably just <a href="/">return home</a>.
	p(style='font-size: 0.5em') #{error.stack}