extends layout

block left
	+photo('background-image:url(images/bucktown.jpeg)','Chicago, the night we got engaged')
	+photo('background-image:url(images/lincoln-park.jpeg)','Lincoln Park, Chicago')
	+photo('background-image:url(images/mca-wedding.jpg)','Museum of Contemporary Art, Chicago')
	+photo('background-image:url(images/cleveland.jpeg)','Cleveland, Ohio')
	+photo('background-image:url(images/munich.jpeg)','Munich, Germany')
	+photo('background-image:url(images/notre-dame.jpeg)','Notre Dame, Indiana')
	+photo('background-image:url(images/parsons.jpeg)','Parson\'s Chicken & Fish, Chicago')
	+photo('background-image:url(images/beer-garden.jpeg)','Beer Garden, Munich')
	+photo('background-image:url(images/salsburg.jpeg)','Salsburg, Austria')
	+photo('background-image:url(images/takeshita.jpeg)','Takeshita Street, Tokyo')
	+photo('background-image:url(images/tokyo-tower.jpeg)','Tokyo, Japan')
		
block right
	h1 Abby &amp; Connor<br>are getting married.
	h2 September 14, 2019
	h3 Join us in Chicago for an intimate wedding with our closest friends and family. We&#8217;re excited for a laid back day celebrating the people most important to us in our lives, and this website can help all of you plan for the day and know what to expect.
	
	ul
		li
			a(href='/details') Details about the day &rsaquo;
		li
			a(href='/registry') Registry information &rsaquo;
		li
			a(href='/rsvp') RSVP to the event &rsaquo;