extends layout

block content
	
	section(class='left-half', id='carousel')
		div(class='photo' style='background-image:url(images/bucktown.jpeg)', alt='Chicago, the night we got engaged')
			span.photo-description Chicago, the night we got engaged
		div(class='photo' style='background-image:url(images/lincoln-park.jpeg)', alt='Lincoln Park, Chicago')
			span.photo-description Lincoln Park, Chicago
		div(class='photo' style='background-image:url(images/mca-wedding.jpg)', alt='Museum of Contemporary Art, Chicago')
			span.photo-description Museum of Contemporary Art, Chicago
		div(class='photo' style='background-image:url(images/cleveland.jpeg)', alt='Cleveland, Ohio')
			span.photo-description Cleveland, Ohio
		div(class='photo' style='background-image:url(images/munich.jpeg)', alt='Munich, Germany')
			span.photo-description Munich, Germany
		div(class='photo' style='background-image:url(images/notre-dame.jpeg)', alt='Notre Dame, Indiana')
			span.photo-description Notre Dame, Indiana
		div(class='photo' style='background-image:url(images/parsons.jpeg)', alt='Parson\'s Chicken & Fish, Chicago')
			span.photo-description Parson's Chicken &amp; Fish, Chicago
		div(class='photo' style='background-image:url(images/beer-garden.jpeg)', alt='Beer Garden, Munich')
			span.photo-description Beer Garden, Munich
		div(class='photo' style='background-image:url(images/salsburg.jpeg)', alt='Salsburg, Austria')
			span.photo-description Salsburg, Austria
		div(class='photo' style='background-image:url(images/takeshita.jpeg)', alt='Takeshita Street, Tokyo')
			span.photo-description Takeshita Street, Tokyo
		div(class='photo' style='background-image:url(images/tokyo-tower.jpeg)', alt='Tokyo, Japan')
			span.photo-description Tokyo, Japan

	script.
		$("#carousel > div:gt(0)").hide();
		setInterval(function() { 
			$('#carousel > div:first')
				.fadeOut(1500)
				.next()
				.fadeIn(1500)
				.end()
				.appendTo('#carousel')
			}, 5000);
		
	section.right-half
		.text-container
			h1 Abby &amp; Connor<br>are getting married.
			h2 September 14, 2019
			p.
				Join us in Chicago for an intimate wedding with our closest friends and family. We're excited for a laid back day celebrating the people most important to us in our lives, and this website can help all of you plan for the day and know what to expect.
			ul.links
				li.links
					a(href='/details') Details about the day &rsaquo;
				li.links
					a(href='/registry') Registry information &rsaquo;
				li.links
					a(href='/rsvp') RSVP to the event &rsaquo;
			p.footer
			| © 2019 Taxi Buddies. 
			a(href="README.md") About.