extends layout

block left
	+photostatic('background-image:url(../images/kaiser-tiger.jpeg)','Kaiser Tiger')

block right
	+breadcrumbs('/details','Details')
	h1 Kaiser Tiger
	h2 1415 W Randolph St

	h3 With a wedding this small, there's not much to rehearse. Instead, join us at Kaiser Tiger for a reception on Friday night where we'll have food, drinks, and yard games to play together.

	p The reception begins at 7pm on Friday, September 13. Kaiser Tiger is a 15-minute walk from the Ace Hotel or a five-minute Uber ride.