doctype html
html
	head
		include includes/head

	body
		include includes/mixins
		section.left
			block left

		script.
			$(".left > div:gt(0)").hide();
			setInterval(function() { 
				$('.left > div.photo:first')
					.fadeOut(1500)
					.next()
					.fadeIn(1500)
					.end()
					.appendTo('.left')
				}, 5000);
				
		section.right
			.text-container
				block right
				+footer