doctype html
html
	include includes/head
	// include includes/mixins

	body
		block content

		// section.left-half
			block left-content
		// section right-half
			block right-content
			p.footer
				| © 2019 Taxi Buddies. 
				a(href="README.md") About.