doctype html
html
	head
		include includes/head

	body
		section.left-half
			block left

		script.
			$(".left-half > div:gt(0)").hide();
			setInterval(function() { 
				$('.left-half > div:first')
					.fadeOut(1500)
					.next()
					.fadeIn(1500)
					.end()
					.appendTo('.left-half')
				}, 5000);
				
		section.right-half
			.text-container
				block right
				include includes/footer