doctype html
html
	head
		include includes/head

	body
		section.left-half
			block left

		script.
			$(".left-half > div:gt(0)").hide();
			setInterval(function() { 
				$('.left-half > div:first')
					.fadeOut(1500)
					.next()
					.fadeIn(1500)
					.end()
					.appendTo('.left-half')
				}, 5000);

		script.
			var dotenv = require('dotenv').config();
			mapboxgl.accessToken = process.env.MAPBOX_ACCESS_TOKEN;
			var map = new mapboxgl.Map({
				container: 'map',
				style: 'mapbox://styles/mapbox/streets-v9'			
			});
			
			var littleGoat = new mapboxgl.LngLat(41.884632,-87.648470)
				
			map.panTo(littleGoat);
				
		section.right-half
			.text-container
				block right
				include includes/footer