extends layout

block content
	
	section(class='left-half', id='carousel')
		div(class='photo' style='background-image:url(images/champagne.jpeg)', alt='Abby opens a bottle of champagne on the night we closed on our new condo.')
			span.photo-description Abby opens a bottle of champagne on the night we closed on our new condo.
		div(class='photo' style='background-image:url(images/measuring.jpeg)', alt='Abby measures some important things.')
			span.photo-description Abby measures some important things.
		div(class='photo' style='background-image:url(images/luxury.jpeg)', alt='Connor lives the life of luxury in the new master bathtub.')
			span.photo-description Connor lives the life of luxury in the new master bathtub.

	script.
		$("#carousel > div:gt(0)").hide();
		setInterval(function() { 
			$('#carousel > div:first')
				.fadeOut(1500)
			    .next()
			    .fadeIn(1500)
			    .end()
			    .appendTo('#carousel')
			}, 5000);

	section.right-half
		.text-container
			a(class='breadcrumbs', href='/') &lsaquo; Back
			h1 We don't have a&nbsp;wedding&nbsp;registry.<br>But we'd love&nbsp;help furnishing&nbsp;our new&nbsp;home.
			p.
				If you're searching for a link to a wedding registry, we've instead decided that we'd love contributions toward furnishing our first home together. If you're so inclined, there are a few options for ways to send us cash below, and you can choose the platform you prefer. Thanks so much!

			.button-area
				a(href='sms:connormason@icloud.com' target='_blank')
					button.money-plz(label='Apple Pay') Apple Pay
				a(href='https://cash.app/$cnnr' target='_blank')
					button.money-plz(label='Square Cash') Square Cash
				a(href='https://venmo.com/Abby-Gartner?txn=pay' target='_blank')
					button.money-plz(label='Venmo') Venmo
				
			p.footer
			| © 2019 Taxi Buddies. 
			a(href="/README.md") About.
