extends layout

block left
	+photo('background-image:url(images/champagne.jpeg)','Abby opens a bottle of champagne on the night we closed on our new condo.')
	+photo('background-image:url(images/measuring.jpeg)','Abby measures some important things.')
	+photo('background-image:url(images/luxury.jpeg)','Connor lives the life of luxury in the new master bathtub.')

block right
	+breadcrumbs
	h1 Check out our<br>wedding registry. 
	p The link below will take you to the wedding registry we created on Zola. We picked out a few things that we liked, and we also included an option to contribute to a cash fund to help us furnish our new condo. 

	a(href='http://www.google.com', target='_blank')
		button
			label Access Our Registry
	