extends layout

block left
	+photostatic('background-image:url(images/lincoln-park.jpeg)','Lincoln Park, Chicago')

block right
	+breadcrumbs
	
	h1 RSVP to the event.
	p We hope everyone is able to join us! Please complete the form below to let us know if you're coming. Include any dietary restrictions or other preferences in the message field. We'll be sure to reach out if we have any questions!

	form(action='/rsvp-submit', method='POST', autocomplete='off')
		fieldset
			input.text(type='text', name='name', placeholder='Name', required)
			.underline
		
		fieldset.switch
			label.switch
				input.switch(type='checkbox', name="wedding", checked)
				span.slider
			p.switchLabel I'll be at the ceremony at<br>Little Goat on September 14!

		fieldset.switch
			label.switch
				input.switch(type='checkbox', name="kaiser" checked)
				span.slider
			p.switchLabel I'll be at the welcome reception<br>at Kaiser Tiger on September 13!

		fieldset
			input.text(type='text', name='message', placeholder='Anything we should note? Dietary restrictions?')
			.underline

		fieldset
			button(type='submit')
				label Submit &rsaquo;