extends layout

block content
	section.left-half
		.temp

	section.right-half
		.text-container
			a(class='breadcrumbs', href='/') &lsaquo; Back
			h1 This page is coming&nbsp;soon.

			include includes/form

			p.footer
			| © 2019 Taxi Buddies.
			a(href="README.md") About.