extends layout

block left
	.temp

block right
	include includes/breadcrumbs
	
	h1 RSVP to the event.
	p We hope everyone is able to join us! Please complete the form below to let us know if you're coming. Include any dietary restrictions or other preferences in the message field. We'll be sure to reach out if we have any questions!

	include includes/form