@import url("https://fonts.googleapis.com/css?family=Work+Sans");
fieldset {
  position: relative;
  padding-left: 0px;
  padding-right: 0px;
  border: none;
}

label.text {
  position: absolute;
  top: 1.25em;
  color: #17171d;
  font-weight: 400;
  font-size: 1.25em;
  line-height: 1.25em;
  transform-origin: left;
  transition: all 0.5s ease;
}

input.text {
  background-color: transparent;
  color: #17171d;
  border: none;
  border-radius: 0;
  outline: none;
  font-weight: 400;
  font-size: 1.25em;
  line-height: 1.5em;
  width: 100%;
  height: 60px;
  transition: all 0.5s ease;
  transition: all 0.5s ease;
}
input.text:focus ~ label {
  color: #00c490;
  top: 0;
  transform: scale(0.6, 0.6);
}
input.text:focus ~ .underline {
  background-position: 0 0;
}
input.text:valid ~ label {
  color: #00c490;
  top: 0;
  transform: scale(0.6, 0.6);
}

label.switch {
  position: absolute;
  display: inline-block;
  margin-top: 20px;
  width: 60px;
  height: 34px;
}

.switchLabel {
  padding-left: 75px;
  padding-top: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 34px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 50%;
}

input.switch:checked + .slider {
  background-color: #00c490;
}

input.switch:focus + .slider {
  box-shadow: 0 0 1px #00c490;
}

input.switch:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -webkit-transform--ms-transform: translateX(26px);
  -webkit-transform--ms-transform-transform: translateX(26px);
}

.underline {
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #00c490 50%, transparent 50%);
  background-color: #63636E;
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: all 0.5s ease;
}

body {
  width: 100%;
  height: 100%;
  background: #F6F6F6;
}

.left-half {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
}
@media (max-width: 999px) {
  .left-half {
    width: 100%;
    height: 50%;
  }
}

.photo {
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.photo span {
  position: absolute;
  bottom: 1em;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Work Sans", sans-serif;
  color: white;
  font-size: 2em;
  font-weight: 500;
  text-align: left;
  padding-left: 2em;
  padding-right: 2em;
  text-shadow: 0px 0px 5px black;
}
@media (max-width: 1199px) {
  .photo span {
    font-size: 1.25em;
  }
}
@media (max-width: 999px) {
  .photo span {
    padding-left: 2em;
    top: 1em;
  }
}
@media (max-width: 800px) {
  .photo span {
    padding-left: 1.5em;
    font-size: 1em;
  }
}

.map {
  height: 100%;
  width: 100%;
}

.temp {
  width: 100px;
  height: 100px;
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#f09433", endColorstr="#bc1888",GradientType=1);
  height: 100%;
  width: 100%;
}

.right-half {
  position: absolute;
  width: 50%;
  height: 100%;
  bottom: 0;
  right: 0;
}
@media (max-width: 999px) {
  .right-half {
    width: 100%;
    height: 50%;
  }
}
@media (max-width: 800px) {
  .right-half {
    width: 100%;
    height: 50%;
  }
}
@media (max-width: 600px) {
  .right-half {
    width: 100%;
    height: 50%;
  }
}
.right-half .text-container {
  padding: 3em;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Work Sans", sans-serif;
  color: black;
}
@media (max-width: 999px) {
  .right-half .text-container {
    padding: 2em;
  }
}
@media (max-width: 800px) {
  .right-half .text-container {
    padding: 1.5em;
  }
}
@media (max-width: 600px) {
  .right-half .text-container {
    padding: 0em 1.5em 1.5em 1.5em;
  }
}

h1 {
  font-weight: 700;
  font-size: 3em;
  line-height: 1.2em;
}
@media (max-width: 800px) {
  h1 {
    font-size: 2.75em;
  }
}
@media (max-width: 600px) {
  h1 {
    font-size: 2em;
  }
}

h2 {
  color: #63636E;
  font-weight: 500;
  font-size: 1.75em;
  line-height: 1.2em;
}
@media (max-width: 999px) {
  h2 {
    font-size: 1.5em;
  }
}
@media (max-width: 800px) {
  h2 {
    font-size: 1.25em;
  }
}

h3 {
  color: #63636E;
  font-weight: 300;
  font-size: 1.75em;
}
@media (max-width: 999px) {
  h3 {
    font-size: 1.5em;
  }
}
@media (max-width: 800px) {
  h3 {
    font-size: 1em;
  }
}

a {
  text-decoration: none;
  color: #00c490;
  cursor: pointer;
  transition: all 0.5s ease;
}
a:hover, a:focus {
  color: #007858;
}
a:active {
  color: #002b20;
}
a .breadcrumbs {
  font-weight: 500;
  text-decoration: none;
  color: #00c490;
}
@media (max-width: 600px) {
  a .breadcrumbs {
    padding-top: 30em;
  }
}

p, li {
  font-weight: 400;
  font-size: 1.25em;
  line-height: 1.5em;
  max-width: 750px;
  padding-bottom: 1em;
}

ul {
  list-style: none;
  padding-left: 0;
}

.button-area {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  padding: 1em 0em 5em 0em;
}
@media (min-width: 1200px) {
  .button-area {
    flex-direction: row wrap;
  }
}
@media (max-width: 1199px) {
  .button-area {
    flex-direction: column;
  }
}

button, .submit {
  font-size: 1em;
  height: 50px;
  width: 150px;
  color: black;
  background-color: #00c490;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  transition: all 0.5s ease;
  margin: 0em 1em 0em 0em;
  padding: 0em 1em 0em 1em;
}
@media (max-width: 1199px) {
  button, .submit {
    margin: 0em 0em 1em 0em;
    padding: 0em 1em 0em 1em;
    width: 100%;
  }
}
button:hover, button:focus, .submit:hover, .submit:focus {
  background-color: #007858;
  color: white;
}
button:active, .submit:active {
  background-color: #002b20;
  color: white;
}

.footer {
  font-size: 0.5em;
  color: #63636E;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 20px;
  margin: 0 auto;
}

/*# sourceMappingURL=styles.css.map */
