$gray: #17171d;
$darkgray: #121217;
$lightgray: #63636E;
$backgroundcolor: #F6F6F6;
$accentcolor: #00c490;
$accentcolormedium: #00694d;
$accentcolordark: #003d2d;

$calcolor: #c40034;
$calcolormedium: #8e0026;
$calcolordark: #590017;
